# dependencies
node_modules/

# build output
#.next/
out/

# production
dist/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

#tem
README.md